*{
	font-family: 'Kanit', sans-serif;
}

body {
	background-color: rgb(230, 237, 244);
}

.sombra-secciones {
	box-shadow: 0px 10px 15px rgb(69, 103, 167);
}

.barra-seccion-categorias {
	color: aliceblue;
	box-shadow: 0px 5px 30px rgba(75, 124, 230);
}

.color-textos-principales {
	color: aliceblue;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
	background-color: #072039;
	color: rgb(91, 218, 88);
}

.cursor-imagen {
	cursor: pointer;
}

.fondo-texto-slide {
	background-color: rgba(27, 209, 36, 0.503);
	border-radius: 5px;
}

/*Oculta la columna 'descripcion' en dispositivos móviles para que se vea la tabla completa a lo ancho.*/
@media only screen and (max-width: 900px) {
	.oculta-en-moviles {
		display: none;
	}
}